
.navwheel{
    position: fixed;
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    background: white;
    border-radius: 100%;
    z-index: 100;
    top: -200px;
    left: -200px;
    transition: all 0.6s ease-in-out;
}

.navwheel:hover{
    top: -120px;
    left: -120px;
}