* {
    box-sizing: border-box;
    list-style: none;
    color: black;
}

html{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    /* background-image: linear-gradient(180deg, rgb(10 10 10 / 0), rgba(229, 111, 255, 0.378)), url(/images/background/noise.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%; */
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


.background {
    min-height: 100vh;
    background-image: linear-gradient(180deg, rgb(10 10 10 / 0), rgba(229, 111, 255, 0.378)), url(/images/background/noise.png);
}

/* Image CSS */

.image {
    height: 100px;
    width: 100px;
    image-rendering: auto;
}

.crisp-edges {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.pixelated {
    image-rendering: pixelated;
}

.smooth {
    image-rendering: smooth;
}

.high-quality {
    image-rendering: high-quality;
}